:root{
    --background-color: white;
    --gradient-backcolor1:#FC6668;
    --gradient-backColor:#e10489;
    --btnfont-color: white;
    --font-color:#4d6385;
    --title-color:#302D55;
    --hover-color:#002050;
    --box-backColor:#FFF9F3;
    --font-family:"Be Vietnam Pro", sans-serif;
}